body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(/map.jpg);
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    transition: transform 0.1s ease-out;
}

.container {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    background-color: #bcb7b773;
    backdrop-filter: blur(5px);
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    height: 45px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 100%;
    height: 45px;
    font-size: 16px;
    background-color: #4dad50d3;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.back-btn {
    background-color: #666666a9;
    margin-top: 10px;
}

.back-btn:hover {
    background-color: #555;
}



@media (max-width: 768px) {
    .container {
        margin: 30px auto;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    input[type="text"] {
        height: 35px;
    }

    button {
        height: 35px;
    }
}