body {
    background: #f1b2a7;
}

#chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#user-input, #message-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#user-input input, #message-input input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#user-input button, #message-input button {
    width: 15%;
    padding: 10px;
    background-color: rgb(117, 48, 48);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#messages {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.message {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.username {
    font-weight: bold;
}
.timestamp {
    font-size: 0.8em;
    color: #888;
}
