:root {
    --chinese-violet_30: hsla(304, 14%, 46%, 0.3);
    --chinese-violet: hsl(304, 14%, 46%);
    --sonic-silver: hsl(206, 11%, 59%);
    --old-rose_30: hsla(357, 37%, 62%, 0.3);
    --ghost-white: hsl(233, 33%, 95%);
    --light-pink: hsl(357, 93%, 84%);
    --light-gray: hsl(0, 0%, 80%);
    --old-rose: hsl(357, 37%, 62%);
    --seashell: hsl(20, 43%, 93%);
    --charcoal: hsl(203, 30%, 26%);
    --white: hsl(0, 0%, 100%);
    --black: rgb(0, 0, 0);
    --old-rose_1: hwb(357 6% 36%);
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      background-color: var(--ghost-white);
      color: var(--charcoal);
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
  }
  
  .container {
      background-color: var(--seashell);
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px var(--old-rose_30);
  }
  
  h1 {
      font-size: 6rem;
      color: var(--old-rose);
  }
  
  p {
      font-size: 1.5rem;
      margin: 1rem 0;
      color: var(--chinese-violet);
  }
  
  .home-link {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-color: var(--light-pink);
      color: var(--white);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
  }
  
  .home-link:hover {
      background-color: var(--old-rose);
  }
  
