.swapreads-container {
  display: flex;
  justify-content: space-between;
  background-color: linear-gradient(135deg,#cf9aff,#95c0ff);
  padding: 40px;
  border-radius: 15px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.swapreads-content {
  flex: 2;
  padding-right: 30px;
}

.swapreads-content h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
}

.swapreads-content p {
  font-size: 1.2em;
  line-height: 1.8;
  color: #4a4a4a;
  text-align: justify;
}

.quick-links {
  flex: 1;
  padding-left: 20px;
  
}

.quick-links h3 {
  font-size: 1.6em;
  font-weight: bold;
  color: #000;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li {
  margin-bottom: 15px;
}

.quick-links ul li a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

.quick-links ul li a i {
  margin-right: 10px;
  font-size: 1.3em;
  color: #8b0000;
}

.quick-links ul li a:hover {
  color: #b22222;
}