body {
  margin: 0;
  height: 100vh;
  background-color: #fff; /* White background */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  cursor: default; /* Show default cursor */
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.cursor {
  position: absolute;
  width: 6px; /* Circle size */
  height: 6px; /* Circle size */
  background-color: rgba(255, 165, 0, 0.6); /* Orange color */
  border-radius: 10%; /* Circular shape */
  pointer-events: none; /* Prevent interaction */
  transform: translate(-10%, -10%); /* Center the circle */
  transition: transform 0.1s ease-out; /* Smooth movement */
}
:root {
  --text-color-light: #333; /* Dark text for light mode */
  --text-color-dark: #fff; /* White text for dark mode */
}
.swiper-container {
  width: 100%;
  height: 75%;
}
.flip-card-back .backs {
  background-color: #ffb2a8 !important;
}

.nav {
  display: flex;
  position: sticky !important;
  align-items: center;
  justify-content: space-between;
  margin-left: -18rem;
  /* margin-left: 5rem; */
}

/* Position the toggle button to the right */
.switch-container {
  position: absolute;
  right: 10rem; /* Adjust this value to move the button more to the right */
  top: 1.5rem; /* Adjust this value to move the button vertically */
}

/* For responsiveness */
@media (max-width: 99rem) {
  .switch-container {
    right: 9rem; /* Adjust this value for smaller screens */
  }
}

@media (max-width: 57.5rem) {
  .switch-container {
    right: 2rem; /* Adjust this value for smaller screens */
  }
}

.socialmediaicons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 12rem;
  width: 4rem;
  height: 15rem;
}
#quicklinks {
  display: flex;
  justify-content: space-between; /* Ensures columns are evenly spaced */
  padding-right: 8px;
}

#quicklinks .col-md-2 ul {
  list-style-type: none;
  padding: 2px;
}

#quicklinks .foot-quick {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Adjust spacing between list items */
}

#quicklinks .foot-quick a {
  display: flex;
  flex-direction: row; /* Ensure icon and text are in a row */
  align-items: center; /* Vertically center-align the icon and text */
  text-decoration: none;
  color: rgb(83, 74, 74); /* Adjust link color as needed */
}

#quicklinks .foot-quick a i {
  margin-right: 0.5rem; /* Adjust spacing between icon and text */
}

#quicklinks .foot-quick a p {
  margin: 0; /* Remove default margins from <p> */
}

.dark-mode .fas {
  color: white;
}
.dark-mode .flinks {
  color: white;
}
.dark-mode .finput {
  color: white;
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid white;
}
.dark-mode .finput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.socialmediaicons a {
  display: inline;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.socialmediaicons .fa-instagram {
  margin-top: 150px;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 1rem;
  background: transparent;
  color: #000000;
  /* transition: background 1s, transform 1s;  */
}

.socialmediaicons .fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 110%,
    #ffdb8b 0%,
    #ee653d 25%,
    #d42e81 50%,
    #a237b6 75%,
    #3e57bc 100%
  );
  transition: all 0.3s;
  background-clip: padding-box;
  border-radius: 1rem;
  color: white;
  transform: scale(1.1);
}
.socialmediaicons .fa-facebook:hover {
  transition: all 0.3s;
  color: blue;
}
.socialmediaicons .fa-youtube:hover {
  transition: all 0.3s;
  color: red;
}

.dark-mode .socialmediaicons a {
  color: white;
}

.dark-mode .social-icons .fa-facebook {
  color: #e8f6ff;
}

.dark-mode .socialmediaicons .fa-facebook:hover {
  color: #425d9b;
}
.dark-mode .socialmediaicons .fa-youtube:hover {
  color: #f70000;
}

.instagram {
  margin: 0.5rem;
}

.facebook {
  margin: 0.5rem;
}

.youtube {
  margin: 0.5rem;
}
.socialmediaicons .fa-github:hover {
  transition: all 0.3s;
  color: black; /* Original GitHub hover color */
}

.socialmediaicons .fa-linkedin:hover {
  transition: all 0.3s;
  color: #0077b5; /* Original LinkedIn hover color */
}

.socialmediaicons .fa-discord:hover {
  transition: all 0.3s;
  color: #7289da; /* Original Discord hover color */
}

.dark-mode .socialmediaicons .fa-github:hover {
  color: #e1e1e1; /* Dark mode hover color for GitHub */
}

.dark-mode .socialmediaicons .fa-linkedin:hover {
  color: #0e76a8; /* Dark mode hover color for LinkedIn */
}

.dark-mode .socialmediaicons .fa-discord:hover {
  color: #a9a9a9; /* Dark mode hover color for Discord */
}

.instagram,
.facebook,
.youtube,
.github,
.linkedin,
.discord {
  margin: 0.5rem;
}

/* testimonal card fix by harshcodesit */
swiper-slide {
  text-align: center;
  font-size: 15;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
/* ########### */

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: hsl(357, 37%, 62%);
}

swiper-container {
  margin: auto;
}

.flip-card {
  background-color: transparent;
  width: 40rem;
  height: 37rem;
  /* margin: 0.2rem; */
  /* border: 0.1rem solid #f1f1f1; */
  perspective: 100rem;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  padding: 1rem;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.light-mode .flip-card-front {
  background-color: white;
  color: black;
}
.dark-mode .flip-card-front {
  background-color: black;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

/* Light mode styles */
.light-mode .readmore-anim {
  font-size: 1.8rem;
  letter-spacing: 0;
  color: hsl(357, 37%, 62%);
}

.light-mode .readmore-anim:hover {
  color: red;
  letter-spacing: 0.1em;
  transition: ease-in-out;
}
.cta1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  padding: 2rem 2.4rem;
  color: hsl(357, 37%, 62%);
  font-family: Avenir, sans-serif;
  text-decoration: none;
  transition: all 0.2s ease;
  &:before {
    content: "";
    position: absolute;
    top: 2.7rem;
    left: 0;
    display: block;
    border-radius: 2.8rem;
    background: rgba(255, 171, 157, 0.5);
    width: 5.6rem;
    height: 5.6rem;
    transition: all 0.3s ease;
  }
  span {
    position: relative;
    font-size: 0.8rem;
    line-height: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: var(--charcoal);
  }
  svg {
    position: relative;
    top: 2.7rem;
    margin-left: 0.5rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: hsl(357, 37%, 62%);
    stroke-width: 2;
    transform: translateX(-0.5rem);
    transition: all 0.3s ease;
  }
  &:hover {
    &:before {
      width: 9%;
      background: #ffab9d;
    }
    svg {
      transform: translateX(0);
    }
    .active {
      transform: scale(0.96);
    }
  }
}

.cta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  padding: 2rem 2.4rem;
  color: hsl(357, 37%, 62%);
  font-family: Avenir, sans-serif;
  text-decoration: none;
  transition: all 0.2s ease;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 2.8rem;
    background: rgba(255, 171, 157, 0.5);
    width: 5.6rem;
    height: 5.6rem;
    transition: all 0.3s ease;
  }
  span {
    position: relative;
    font-size: 0.8rem;
    line-height: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: var(--charcoal);
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 0.5rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: hsl(357, 37%, 62%);
    stroke-width: 2;
    transform: translateX(-0.5rem);
    transition: all 0.3s ease;
  }
  &:hover {
    &:before {
      width: 9%;
      background: #ffab9d;
    }
    svg {
      transform: translateX(0);
    }
    .active {
      transform: scale(0.96);
    }
  }
}

/* Dark Mode Styles */
.dark-mode .readmore-anim {
  font-size: 1.8rem;
  letter-spacing: 0;
  color: hsl(357, 37%, 62%);
}

.readmore-anim .icon:hover {
  color: red;
}

.dark-mode .readmore-anim:hover {
  color: red;
  letter-spacing: 0.1rem;
  transition: ease-in-out;
}

.dark-mode .header.scrolled {
  background-color: #232222; /* Change to a darker color when scrolled */
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

.dark-mode #dropdown-menu {
  background-color: #151111;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  color: white;
}
.dark-mode .dropdown-menu-item a {
  color: white;
}

#cookie-consent {
  position: fixed;
  background-color: #f1f1f1;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 15px;
  left: 20px;
  width: 300px;
  height: 250px;
  z-index: 10000;
  border-radius: 1rem;
  margin-bottom: 5rem;
  margin: 2rem;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  transition: border-color 0.3s;
  font-size: 12px;
}

#cookie-consent:hover {
  border-right-color: #a30f17;
  border-bottom-color: #a30f17;
}

#cookie-consent p {
  color: rgb(78, 7, 7); /* Make the text black for better visibility */
  margin: 10px opx; /* Center align the text */
}

#cookie-container a {
  color: rgb(78, 7, 7);
  text-decoration: none;
}

#cookie-consent button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.accept-cookies,
.reject-cookies {
  width: 26rem; /* Decrease the button width */
  height: 3.5rem; /* Decrease the button height */
  color: white;
  background-color: #a30f17;
  font-size: 12px;
  border: none;
  border-radius: 0.5rem; /* Add rounded corners */
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s; /* Smooth transition for effects */
}

.dark-mode #cookie-consent {
  background-color: #252423;
}

.dark-mode #cookie-consent p {
  color: white;
}

.reject-cookies {
  margin-top: 1rem;
}

.accept-cookies:hover,
.reject-cookies:hover {
  transform: scale(0.95);
  box-shadow: 0 0 1.5rem rgb(249, 212, 212); /* Reduce the shadow size */
}

.accept-cookies:hover {
  background-color: rgb(245, 202, 202);
  color: #a30f17;
}

.reject-cookies:hover {
  background-color: rgb(250, 192, 192);
  color: #a30f17;
}

#cookie-content {
  display: none;
  margin-top: 1rem;
}

#back-to-top-container {
  position: fixed;
}

/* Basic navbar styling */
.header {
  position: fixed;
  width: 100%;
  top: 1rem; /* Assuming you meant 1rem for the top */
  z-index: 1000;
  transition: top 0.3s, transform 0.3s ease;
  margin-left: 9rem; /* Add a negative margin to shift left */
}

.navbar-link {
  font-size: 1.5rem;
}
.navbar-link.active {
  color: #af574c; /* Highlight color */
  font-weight: bold;
}

/* Hide the navbar */
.header.hidden {
  top: -9.3rem; /* Adjust according to your header height */
}

/* Navbar styling when scrolled */
.header.scrolled {
  position: sticky !important;
  background-color: #efefef; /* Change to a darker color when scrolled */
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 106.3rem) {
  .nav {
    flex-direction: row;
  }

  .header {
    flex-direction: column;
    height: 53.8rem;
    transition: 0.2s all ease-out;
    padding-top: 0rem;
  }

  .navbar-item {
    margin: 0;
  }

  .hamburger {
    display: block;
  }
  .nav-h {
    height: 7.8rem;
    width: 100vw;
  }
  .vis-h {
    opacity: 0;
  }
  .switch-container {
    right: 7rem !important;
  }
}
@media only screen and (max-width: 990px) {
  .header {
    height: 0;
  }
  .navbar-list {
    top: 0;
  }
  .logo img {
    top: -0.9rem;
    left: 5rem;
  }
}

/* Removed empty ruleset for .navbar-item */

.navbar-item {
  margin-top: 1rem; /* Increase the top margin of each item */
}

.card-sty {
  text-align: center;
}
.button-container {
  text-align: center;
  margin-top: 1rem;
}

.donate-button {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #b00404; /* Red color */
  text-decoration: none;
  border-radius: 0.5rem;
  border: 0.2rem solid #a60606; /* Same red color for border */
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px; /* Ensure cards have a consistent height */
  padding: 1rem;
}
.donate-button:hover {
  background-color: #cc0000; /* Darker red for hover effect */
  border-color: #cc0000; /* Darker red for border on hover */
}
.donate-books-section {
  text-align: center;
}
.donate-books-section p {
  padding: 1rem;
  text-align: justify;
}
.donate-books-section img {
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adjust the gap between cards as needed */
  flex-wrap: wrap; /* Allows cards to wrap onto the next line if the screen is too narrow */
  padding: 0 1.5rem; /* Optional padding for responsiveness */
}

.card {
  flex: 1 1 20rem; /* Allows cards to grow and shrink, with a minimum width of 200px */
  max-width: 30rem; /* Optional max width for cards */
  margin: 1rem; /* Optional margin around each card */
}

.card img {
  width: 100%;
  height: auto;
}

.chapter-card {
  height: 60rem; /* Adjust margin as needed */
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1); /* Add shadow for depth effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chapter-card:hover {
  transform: scale(1.02px);
  box-shadow: 0.4rem 0.4rem 0.3rem rgba(0, 0, 0, 0.4); /* Scale up slightly on hover */
}

#connectReaderBtn {
  border-radius: 1rem;
}

.footer-icons {
  margin-top: 2rem;
  display: flex;
  font-size: 2rem;
}

.footer-icons .icon i {
  font-size: 2rem;
  /* Set the default font size for icons */
  transition: all 0.15s ease;
  /* Add transition for smooth animation */
}

.footer-icons .icon:hover {
  transform: scale(1.5);
  /* Scale the icon on hover */
}

.footer-icons .icon:hover .fa-linkedin {
  color: #3e57bc;
  transform: scale(1);
  /* Scale the instagram icon on hover */
}

.footer-icons .icon:hover .fa-facebook {
  color: #0077b5;
  /* Change to Facebook color on hover */
}

.footer-icons .icon:hover .fa-twitter {
  color: rgb(255, 255, 255);
  /* Change to Twitter color on hover */
}

.footer-icons .icon .fa-instagram {
  color: grey;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.footer-icons .icon:hover .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-radius: 20%;
  transform: scale(1.1);
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.footer-icons .icon:hover .fa-youtube {
  color: #ff0001;
  /* Change to YouTube color on hover */
}

.footer-icons .icon:hover .fa-github {
  color: rgb(20, 15, 15);
}
/* Change to Github color on hover */

.footer-icons .icon:hover .fa-twitter {
  color: #ffffff;
}
.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.icon i {
  font-size: 2.4rem;
  color: #ffffff;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.icon i:hover {
  color: #555;
}
/* Styling for the email input */
.finput {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top: 2px;
}

/* Hover effect to change the border color */
.finput:hover {
  border-color: #3498db;
}

.finput:focus {
  border-color: #2980b9;
}

.subscribe {
  padding: 1rem 2rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe:hover {
  background-color: #2980b9;
}
/* Styling for the email input */
.finput {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2rem solid #000000;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Hover effect to change the border color */
.finput:hover {
  border-color: #000080;
}

/* Focus effect when the input is active */
.finput:focus {
  border-color: #000080;
}

/* Styling the subscribe button */
.subscribe {
  padding: 1rem 2rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.subscribe:hover {
  background-color: #2980b9;
}

/* Circle styles */
.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  transition: transform 0.1s ease-out;
}

/* Fixed translate button */
* {
  transition: all 0.3s ease-in-out;
  text-align: center;
}

/* Fixed translate button */
* {
  transition: all 0.3s ease-in-out;
  text-align: center;
}
#translateButton {
  position: fixed;
  top: -15rem;
  right: 4.4rem;
  z-index: 1000;
  width: 5.3rem;
  height: 5.3rem;
  border-radius: 50%;
  border: none;
  background: linear-gradient(hwb(357 6% 36%), #d26d6d);
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  transition: transform 0.3s ease;
  margin-top: 75.8vh;
  margin-right: 0px;
}
#translateButton:hover {
  transform: scale(1.2);
}

/* The popup modal */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Popup content */
.popup-content {
  background: linear-gradient(hwb(357 6% 36%), #d26d6d);
  margin-top: 60rem;
  padding: 2rem;
  border: 1rem solid #888;
  width: 30rem;
  border-radius: 10rem;
  position: relative;
  margin-left: 75vw;
  /* margin-right: 0px; */
}

/* Close button */
.close {
  color: #073725;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Hide the default Google Translate widget */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon {
  display: none !important;
}

body {
  top: 0rem !important;
}

/* Hide the "Powered by Google" branding */
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  height: 2.8rem !important;
  overflow: hidden;
}

/* Hide Google Translate notifications */
.goog-te-spinner-pos,
.goog-te-spinner,
.goog-te-balloon-frame,
.goog-te-banner-frame,
.goog-te-banner,
.goog-te-balloon {
  display: none !important;
}

/* Custom styles for the Google Translate dropdown */
#google_translate_element select {
  background: #ffffff;
  border: 0.1rem solid #ccc;
  color: #d26d6d;
  padding: 0.5rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

/* Hide the Google Translate bar */
body > .skiptranslate {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
.goog-te-banner-frame {
  display: none !important;
}
.goog-te-banner {
  display: none !important;
}

.dropdown {
  margin-right: 3rem;
}

.mobile-container-styles {
  margin-left: 5rem;
}

.nav {
  justify-content: space-around;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #fff; /* White background */
  overflow: hidden;
  cursor: default; /* Show default cursor */
}

.cursor {
  position: absolute;
  width: 6px; /* Circle size */
  height: 6px; /* Circle size */
  background-color: rgba(255, 165, 0, 0.8); /* Orange color */
  border-radius: 10%; /* Circular shape */
  pointer-events: none; /* Prevent interaction */
  transform: translate(-10%, -10%); /* Center the circle */
  transition: transform 0.1s ease-out; /* Smooth movement */
}
:root {
  --text-color-light: #333; /* Dark text for light mode */
  --text-color-dark: #fff; /* White text for dark mode */
}
body {
  margin: 0;
  height: 100vh;
  background-color: #fff; /* White background */
  overflow-y: scroll; /* Enables vertical scrolling */
  scrollbar-width: thin;
  scrollbar-color: linear-gradient(
      to bottom,
      hsl(357, 37%, 62%),
      hsl(304, 14%, 46%)
    )
    var(--grey-white);
  cursor: default;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--grey-white);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    hsl(357, 37%, 62%),
    hsl(304, 14%, 46%)
  );
  border-radius: 10px; /* Keeps the rounded thumb */
  border: 3px solid var(--grey-white);
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(357, 60%, 45%);
}
swiper-container {
  width: 100%;
  height: 75%;
}
.flip-card-back .backs {
  background-color: #ffb2a8 !important;
}

.nav {
  display: flex;
  position: sticky !important;
  align-items: center;
  justify-content: space-between;
  margin-left: -5rem;
  /* margin-left: 5rem; */
}

/* Position the toggle button to the right */
.switch-container {
  position: absolute;
  right: 10rem; /* Adjust this value to move the button more to the right */
  top: 1.5rem; /* Adjust this value to move the button vertically */
}

/* For responsiveness */
@media (max-width: 99rem) {
  .switch-container {
    right: 9rem; /* Adjust this value for smaller screens */
  }
}

@media (max-width: 57.5rem) {
  .switch-container {
    right: 2rem; /* Adjust this value for smaller screens */
  }
}

.socialmediaicons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 12rem;
  width: 4rem;
  height: 15rem;
}
#quicklinks {
  display: flex;
  justify-content: space-between;
  /* Ensures columns are evenly spaced */
}

#quicklinks .col-md-6 ul {
  list-style-type: none;
  padding: 0;
}

#quicklinks .foot-quick {
  display: flex;
  align-items: center;
  margin-bottom: 0rem;
  /* Adjust spacing between list items */
}

#quicklinks .foot-quick a {
  display: flex;
  flex-direction: row; /* Ensure icon and text are in a row */
  align-items: center; /* Vertically center-align the icon and text */
  text-decoration: none;
  color: rgb(83, 74, 74); /* Adjust link color as needed */
}

#quicklinks .foot-quick a i {
  margin-right: 0.5rem; /* Adjust spacing between icon and text */
}

#quicklinks .foot-quick a p {
  margin: 0; /* Remove default margins from <p> */
}

.dark-mode .fas {
  color: #8e6165;
}
.dark-mode .flinks {
  color: #4a749a;
}

.dark-mode .fas {
  color: #8e6165;
}
.dark-mode .flinks {
  color: #4a749a;
}

.dark-mode .finput {
  color: white;
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid white;
}
.dark-mode .finput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.socialmediaicons a {
  display: inline;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.socialmediaicons .fa-instagram {
  margin-top: 150px;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 1rem;
  background: transparent;
  color: #000000;
  /* transition: background 1s, transform 1s;  */
}

.socialmediaicons .fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 110%,
    #ffdb8b 0%,
    #ee653d 25%,
    #d42e81 50%,
    #a237b6 75%,
    #3e57bc 100%
  );
  transition: all 0.3s;
  background-clip: padding-box;
  border-radius: 1rem;
  color: white;
  transform: scale(1.1);
}
.socialmediaicons .fa-facebook:hover {
  transition: all 0.3s;
  color: blue;
}
.socialmediaicons .fa-youtube:hover {
  transition: all 0.3s;
  color: red;
}

.dark-mode .socialmediaicons a {
  color: white;
}

.dark-mode .social-icons .fa-facebook {
  color: #e8f6ff;
}

.dark-mode .socialmediaicons .fa-facebook:hover {
  color: #425d9b;
}
.dark-mode .socialmediaicons .fa-youtube:hover {
  color: #f70000;
}

.instagram {
  margin: 0.5rem;
}

.facebook {
  margin: 0.5rem;
}

.youtube {
  margin: 0.5rem;
}
.socialmediaicons .fa-github:hover {
  transition: all 0.3s;
  color: black; /* Original GitHub hover color */
}

.socialmediaicons .fa-linkedin:hover {
  transition: all 0.3s;
  color: #0077b5; /* Original LinkedIn hover color */
}

.socialmediaicons .fa-discord:hover {
  transition: all 0.3s;
  color: #7289da; /* Original Discord hover color */
}

.dark-mode .socialmediaicons .fa-github:hover {
  color: #e1e1e1; /* Dark mode hover color for GitHub */
}

.dark-mode .socialmediaicons .fa-linkedin:hover {
  color: #0e76a8; /* Dark mode hover color for LinkedIn */
}

.dark-mode .socialmediaicons .fa-discord:hover {
  color: #a9a9a9; /* Dark mode hover color for Discord */
}

.instagram,
.facebook,
.youtube,
.github,
.linkedin,
.discord {
  margin: 0.5rem;
}

/* testimonal card fix by harshcodesit */
swiper-slide {
  text-align: center;
  font-size: 15;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
/* ########### */

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: hsl(357, 37%, 62%);
}

swiper-container {
  margin: auto;
}

.flip-card {
  background-color: transparent;
  width: 40rem;
  height: 37rem;
  /* margin: 0.2rem; */
  /* border: 0.1rem solid #f1f1f1; */
  perspective: 100rem;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  padding: 1rem;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.light-mode .flip-card-front {
  background-color: white;
  color: black;
}
.dark-mode .flip-card-front {
  background-color: black;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

/* Light mode styles */
.light-mode .readmore-anim {
  font-size: 1.8rem;
  letter-spacing: 0;
  color: hsl(357, 37%, 62%);
}

.light-mode .readmore-anim:hover {
  color: red;
  letter-spacing: 0.1em;
  transition: ease-in-out;
}
.cta1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  padding: 2rem 2.4rem;
  color: hsl(357, 37%, 62%);
  font-family: Avenir, sans-serif;
  text-decoration: none;
  transition: all 0.2s ease;
  &:before {
    content: "";
    position: absolute;
    top: 2.7rem;
    left: 0;
    display: block;
    border-radius: 2.8rem;
    background: rgba(255, 171, 157, 0.5);
    width: 5.6rem;
    height: 5.6rem;
    transition: all 0.3s ease;
  }
  span {
    position: relative;
    font-size: 0.8rem;
    line-height: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: var(--charcoal);
  }
  svg {
    position: relative;
    top: 2.7rem;
    margin-left: 0.5rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: hsl(357, 37%, 62%);
    stroke-width: 2;
    transform: translateX(-0.5rem);
    transition: all 0.3s ease;
  }
  &:hover {
    &:before {
      width: 9%;
      background: #ffab9d;
    }
    svg {
      transform: translateX(0);
    }
    .active {
      transform: scale(0.96);
    }
  }
}

.cta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  padding: 2rem 2.4rem;
  color: hsl(357, 37%, 62%);
  font-family: Avenir, sans-serif;
  text-decoration: none;
  transition: all 0.2s ease;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 2.8rem;
    background: rgba(255, 171, 157, 0.5);
    width: 5.6rem;
    height: 5.6rem;
    transition: all 0.3s ease;
  }
  span {
    position: relative;
    font-size: 0.8rem;
    line-height: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: var(--charcoal);
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 0.5rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: hsl(357, 37%, 62%);
    stroke-width: 2;
    transform: translateX(-0.5rem);
    transition: all 0.3s ease;
  }
  &:hover {
    &:before {
      width: 9%;
      background: #ffab9d;
    }
    svg {
      transform: translateX(0);
    }
    .active {
      transform: scale(0.96);
    }
  }
}

/* Dark Mode Styles */
.dark-mode .readmore-anim {
  font-size: 1.8rem;
  letter-spacing: 0;
  color: hsl(357, 37%, 62%);
}

.readmore-anim .icon:hover {
  color: red;
}

.dark-mode .readmore-anim:hover {
  color: red;
  letter-spacing: 0.1rem;
  transition: ease-in-out;
}

.dark-mode .header.scrolled {
  background-color: #232222; /* Change to a darker color when scrolled */
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

.dark-mode #dropdown-menu {
  background-color: #151111;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  color: white;
}
.dark-mode .dropdown-menu-item a {
  color: white;
}

#cookie-consent {
  position: fixed;
  background-color: #f1f1f1;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 15px;
  left: 20px;
  width: 300px;
  height: 250px;
  z-index: 10000;
  border-radius: 1rem;
  margin-bottom: 5rem;
  margin: 2rem;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  transition: border-color 0.3s;
  font-size: 12px;
}

#cookie-consent:hover {
  border-right-color: #a30f17;
  border-bottom-color: #a30f17;
}

#cookie-consent p {
  color: rgb(78, 7, 7); /* Make the text black for better visibility */
  margin: 10px opx; /* Center align the text */
}

#cookie-container a {
  color: rgb(78, 7, 7);
  text-decoration: none;
}

#cookie-consent button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.accept-cookies,
.reject-cookies {
  width: 26rem; /* Decrease the button width */
  height: 3.5rem; /* Decrease the button height */
  color: white;
  background-color: #a30f17;
  font-size: 12px;
  border: none;
  border-radius: 0.5rem; /* Add rounded corners */
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s; /* Smooth transition for effects */
}

.dark-mode #cookie-consent {
  background-color: #252423;
}

.dark-mode #cookie-consent p {
  color: white;
}

.reject-cookies {
  margin-top: 1rem;
}

.accept-cookies:hover,
.reject-cookies:hover {
  transform: scale(0.95);
  box-shadow: 0 0 1.5rem rgb(249, 212, 212); /* Reduce the shadow size */
}

.accept-cookies:hover {
  background-color: rgb(245, 202, 202);
  color: #a30f17;
}

.reject-cookies:hover {
  background-color: rgb(250, 192, 192);
  color: #a30f17;
}

#cookie-content {
  display: none;
  margin-top: 1rem;
}

#back-to-top-container {
  position: fixed;
}

/* Basic navbar styling */
.header {
  position: fixed;
  width: 100%;
  top: 1rem; /* Assuming you meant 1rem for the top */
  z-index: 1000;
  transition: top 0.3s, transform 0.3s ease;
  margin-left: 9rem; /* Add a negative margin to shift left */
}

.navbar-link {
  font-size: 1.5rem;
}
.navbar-link.active {
  color: #af574c; /* Highlight color */
  font-weight: bold;
}

/* Hide the navbar */
.header.hidden {
  top: -9.3rem; /* Adjust according to your header height */
}

/* Navbar styling when scrolled */
.header.scrolled {
  position: sticky !important;
  background-color: #efefef; /* Change to a darker color when scrolled */
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 106.3rem) {
  .nav {
    flex-direction: row;
  }

  .header {
    flex-direction: column;
    height: 53.8rem;
    transition: 0.2s all ease-out;
    padding-top: 0rem;
  }

  .navbar-item {
    margin: 0;
  }

  .hamburger {
    display: block;
  }
  .nav-h {
    height: 7.8rem;
    width: 100vw;
  }
  .vis-h {
    opacity: 0;
  }
  .switch-container {
    right: 7rem !important;
  }
}
@media only screen and (max-width: 990px) {
  .header {
    height: 0;
  }
  .navbar-list {
    top: 0;
  }
  .logo img {
    top: -0.9rem;
    left: 5rem;
  }
}

/* Removed empty ruleset for .navbar-item */

.navbar-item {
  margin-top: 1rem; /* Increase the top margin of each item */
}

.card-sty {
  text-align: center;
}
.button-container {
  text-align: center;
  margin-top: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px; /* Ensure cards have a consistent height */
  padding: 1rem;
}
.donate-button {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #b00404; /* Red color */
  text-decoration: none;
  border-radius: 0.5rem;
  border: 0.2rem solid #a60606; /* Same red color for border */
}

.donate-button:hover {
  background-color: #cc0000; /* Darker red for hover effect */
  border-color: #cc0000; /* Darker red for border on hover */
}
.donate-books-section {
  text-align: center;
}
.donate-books-section p {
  padding: 1rem;
  text-align: justify;
}
.donate-books-section img {
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  width: 100%; /* Ensure consistent image size */
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adjust the gap between cards as needed */
  flex-wrap: wrap; /* Allows cards to wrap onto the next line if the screen is too narrow */
  padding: 0 1.5rem; /* Optional padding for responsiveness */
}

.card {
  flex: 1 1 20rem; /* Allows cards to grow and shrink, with a minimum width of 200px */
  max-width: 30rem; /* Optional max width for cards */
  margin: 1rem; /* Optional margin around each card */
}

.card img {
  width: 100%;
  height: auto;
}

.chapter-card {
  height: 60rem; /* Adjust margin as needed */
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1); /* Add shadow for depth effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chapter-card:hover {
  transform: scale(1.02px);
  box-shadow: 0.4rem 0.4rem 0.3rem rgba(0, 0, 0, 0.4); /* Scale up slightly on hover */
}

#connectReaderBtn {
  border-radius: 1rem;
}

.footer-icons {
  margin-top: 2rem;
  display: flex;
  font-size: 2rem;
}

.footer-icons .icon i {
  font-size: 2rem;
  /* Set the default font size for icons */
  transition: all 0.15s ease;
  /* Add transition for smooth animation */
}

.footer-icons .icon:hover {
  transform: scale(1.5);
  /* Scale the icon on hover */
}

.footer-icons .icon:hover .fa-linkedin {
  color: #3e57bc;
  transform: scale(1);
  /* Scale the instagram icon on hover */
}

.footer-icons .icon:hover .fa-facebook {
  color: #0077b5;
  /* Change to Facebook color on hover */
}

.footer-icons .icon:hover .fa-twitter {
  color: rgb(255, 255, 255);
  /* Change to Twitter color on hover */
}

.footer-icons .icon .fa-instagram {
  color: grey;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.footer-icons .icon:hover .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-radius: 20%;
  transform: scale(1.1);
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.footer-icons .icon:hover .fa-youtube {
  color: #ff0001;
  /* Change to YouTube color on hover */
}

.footer-icons .icon:hover .fa-github {
  color: rgb(20, 15, 15);
}
/* Change to Github color on hover */

.footer-icons .icon:hover .fa-twitter {
  color: #ffffff;
}

.icons {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.icon i {
  font-size: 2.4rem;
  color: #8e6165;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.icon i:hover {
  color: #555;
}
/* Styling for the email input */
.finput {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Hover effect to change the border color */
.finput:hover {
  border-color: #3498db;
}

.finput:focus {
  border-color: #2980b9;
}

.subscribe {
  padding: 1rem 2rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe:hover {
  background-color: #2980b9;
}
/* Styling for the email input */
.finput {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #000000; /* Made the box-border thinner */
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Hover effect to change the border color */
.finput:hover {
  border-color: #000080;
}

/* Focus effect when the input is active */
.finput:focus {
  border-color: #000080;
}

/* Styling the subscribe button */
.subscribe {
  padding: 1rem 2rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.subscribe:hover {
  background-color: #2980b9;
}

/* Contact Us */
.section-contact {
  color: black;
  padding: 40px 20px;
}
/* Circle styles */
.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  transition: transform 0.1s ease-out;
}

/* Fixed translate button */
* {
  transition: all 0.3s ease-in-out;
}
#translateButton {
  position: fixed;
  top: -15rem;
  right: 4.4rem;
  z-index: 1000;
  width: 5.3rem;
  height: 5.3rem;
  border-radius: 50%;
  border: none;
  background: linear-gradient(hwb(357 6% 36%), #d26d6d);
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  transition: transform 0.3s ease;
  margin-top: 75.8vh;
  margin-right: 0px;
}
#translateButton:hover {
  transform: scale(1.2);
}

/* The popup modal */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Popup content */
.popup-content {
  background: linear-gradient(hwb(357 6% 36%), #d26d6d);
  margin-top: 60rem;
  padding: 2rem;
  border: 1rem solid #888;
  width: 30rem;
  border-radius: 10rem;
  position: relative;
  margin-left: 75vw;
  /* margin-right: 0px; */
}

/* Close button */
.close {
  color: #073725;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Hide the default Google Translate widget */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon {
  display: none !important;
}

body {
  top: 0rem !important;
}

/* Hide the "Powered by Google" branding */
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  height: 2.8rem !important;
  overflow: hidden;
}

/* Hide Google Translate notifications */
.goog-te-spinner-pos,
.goog-te-spinner,
.goog-te-balloon-frame,
.goog-te-banner-frame,
.goog-te-banner,
.goog-te-balloon {
  display: none !important;
}

/* Custom styles for the Google Translate dropdown */
#google_translate_element select {
  background: #ffffff;
  border: 0.1rem solid #ccc;
  color: #d26d6d;
  padding: 0.5rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

/* Hide the Google Translate bar */
body > .skiptranslate {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
.goog-te-banner-frame {
  display: none !important;
}
.goog-te-banner {
  display: none !important;
}

.dropdown {
  margin-right: 3rem;
}

.mobile-container-styles {
  margin-left: 5rem;
}

.nav {
  justify-content: space-around;
}

.section-contact {
  color: black;
  padding: 40px 20px;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background: white; /* Adjust as needed */
  list-style: none;
  padding: 10px; /* Adjust as needed */
  border: 1px solid #ccc; /* Adjust as needed */
  z-index: 1000; /* Ensure it appears above other elements */
}
.dropdown-menu {
  display: none; /* Initially hide the dropdown */
  position: absolute; /* Position it absolutely */
  background-color: #fff; /* Background color */
  z-index: 1; /* Ensure it is above other elements */
}
.dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
}
.dropdown .navbar-link {
  position: relative; /* Needed for arrow positioning */
}
.dropdown-item {
  padding: 5px 10px; /* Adjust padding */
}
.navbar-link {
  display: block; /* Make links fill the container */
  padding: 8px; /* Adjust padding */
}
.arrow {
  transition: transform 0.3s; /* Smooth transition for arrow */
}
