body {
  width: 100%;
  height: 100%;
  font-family: var(--ff-philosopher);
  font-size: 4rem;
  /* background-color: #c9acc2; */
  background-color: #f5ebe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  gap: 1px;
}
.navbar {
  width: 100%;
}
.navbar-header {
  width: 100%;
  font-family: var(--ff-philosopher);
  font-size: 4rem;
  line-height: 1;
  display: block;
  text-decoration-color: #fff;
}
.navbar-header a {
  color: #ce6857;
  font-size: 2rem;
  margin-left: 2rem;
}
.navbar {
  background-color: #f5ebe6;
}
.container {
}
/* .col-sm-5{
    margin-left:200px;
    align-items: right;
    margin-bottom: 200px;
}
.col-sm-4{
    margin-left: 0px;
}
.loginbox{
    box-sizing: border-box;
    display: block;
}
.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.form-container h2 {
    margin-top: 0;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message {
    color: red;
} */

.note {
  display: block;
  width: 50%;
  /* height: auto; */
  max-width: 600px;
}
.note h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ce6857;
  text-align: center;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #240046; */
  background-color: #ce6857;
  max-height: 44rem;
  width: 90%;
  max-width: 40rem;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 15% 0 5%;
}

label {
  color: #fff;
  font-size: 3rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 2rem;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(5%);
  transition: 0.8s ease-in-out;
}

.register label {
  color: #ce6857;
  transform: scale(0.6);
}
#chk:checked ~ .register {
  transform: translateY(-69%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(0.6);
  margin: 5% 0 5%;
}
/*Button*/
.form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #d54b33;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.form button:hover {
  background-color: red;
}


.close-icon{
  margin-top: 2rem;
}

@media (max-width: 768px) {
  body {
    font-size: 2rem;
  }

  .navbar-header {
    font-size: 2rem;
  }

  .note h1 {
    font-size: 2.5rem;
  }

  .main {
    width: 95%;
  }
}

.footer-bottom {
  padding-block: 20px;
  border-block-start: 1px solid rgb(169, 166, 166);
  color:  hsl(208, 7%, 46%);  
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}