.navbar-header {
    font-family: var(--ff-philosopher);
    font-size: 4rem;
    line-height: 1;
    display: block;
    text-decoration-color: #fff;
  }
.navbar{
    background-color: #c9acc2;
}
  
body {
    font-family: var(--ff-philosopher);
    font-size: 4rem;
    background-color: #c9acc2;
}

.container {

}
.col-sm-5{
    margin-left:200px;
    align-items: right;
    margin-bottom: 200px;
}
.col-sm-4{
    margin-left: 0px;
}
.loginbox{
    box-sizing: border-box;
    display: block;
}
.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.form-container h2 {
    margin-top: 0;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message {
    color: red;
}
