* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#logout-btn {
  cursor: pointer;
}

#modal {
  display: none;
}

.modal-box {
  background-color: rgb(246, 244, 244);
  border: 2px solid rgb(250, 43, 77);
  width: 100%;
  padding: 30px 30px;
  text-align: center;
  margin-right: 500px;
  margin-top: 160px;
  border-radius: 8px;
}

.logout-que {
  margin: 20px 0;
  font-size: 14px;
}

.cancel-logout-btn,
.out-logout-btn {
  margin-bottom: 20px;
  width: 50%;
  padding: 14px;
  font-size: 15px;
  font-weight: 550;
  border: 0;
  outline: none;
  cursor: pointer;
  border: 2px solid rgb(6, 6, 6);
}

.cancel-logout-btn {
  background-color: rgb(147, 237, 147);
  color: black;
}
.cancel-logout-btn:hover {
  background-color: rgb(1, 150, 1);
  color: black;
}

.out-logout-btn {
  background-color: red;
  color: white;
}

.out-logout-btn:hover {
  background-color: rgb(1, 150, 1);
  color: black;
}

.close-logout-btn {
  display: flex;
  gap: 5px;
}

.logout-img {
  width: 70px;
  position: relative;
  bottom: 25px;
  border-radius: 50%;
  margin-left: 90px;
}
