.nav-wrapper{
  position: fixed;
  top: 0;
  background-color: transparent;
  height: 5px;
  width: 100%;
  z-index: 1002;
}
.progress-bar{
  height: 5px;
  width: 0;
  background-color:hsl(357, 37%, 62%), ;
  z-index: 1002;
}
