body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    width: 80%;
    margin: 20px auto;
}

h2 {
    color: #333;
}

.book-swap {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

#signup-login {
    text-align: center;
}

.buttons button {
    margin: 10px;
}
