body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 ;
    display: flex;
    padding: 20px;
}

.navbar {
    background-color: #031825;
    color: white;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 600px;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #031825;
    color: white;
    text-align: center;
    padding: 10px 0;
}
