body {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: rgba(224,244,255,255);
}

h1 {
    text-align: center; 
}

#top-right-image {
    position: absolute; 
    top: 5px; 
    right: 50px; 
    width: 180px; 
    height: auto; 
}

#book-title {
    width: 50%; 
    height: 30px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    display: block; 
    margin: 20px auto; 
}

#add-book-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block; 
    margin: 20px auto; 

}


#add-book-btn:hover {
    background-color: #3e8e41;
}

#back-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block; 
    margin: 20px auto; 
}

#back-button:hover {
    background-color: #3e8e41;
}


#book-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.book-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.book-item:last-child {
    border-bottom: none;
}

.read {
    text-decoration: line-through;
}

.actions {
    float: right;
}

.actions button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #ddd;
}

.read {
    text-decoration: line-through;
    color: #666;
}

.read::before {
    /* content: "\2713";  */
    color: #3e8e41;
    margin-right: 10px;
}

.mark-as-read-btn {
    background-color: #3e8e41;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.mark-as-unread-btn {
    background-color: #ccc;
    color: #66666694;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}