*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: rgb(225, 148, 148);
}


.heading{
    text-align: center;
    margin-top: 25px;
}
.heading{
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    color: rgb(143, 75, 58);

}

.heading p{
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}
.about-us{
    display: flex;
    align-items: center;
    
}
.about-us img{
    flex: 0 50%;
    max-width: 40%;
    height: auto;
}
.content{
    padding: 35px;
}
.content h2{
    color: rgb(158, 77, 52);
    font-size: 24px;
    margin: 15px 0px;

}

.content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}

.contribute{
    text-align: center;
    margin-top: 25px;
}
.contribute h1{
    font-size: 50px;
    color: rgb(191, 110, 87);

}
