.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--charcoal);
    padding: 8px 12px; /* Adjust padding as needed */
    line-height: 2;
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) {
    color: var(--old-rose);
  }
  
  .dropdown-menu {
  
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.3s ease;
    top: 100%;
    text-align: center;
  }
  .dropdown-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-menu-item {
    padding: 12px 16px;
  }
  
  .dropdown-menu-item a {
    text-decoration: none;
    color: #000;
  }
  
  .dropdown-item:first-child {
    margin-top: 0;
  }
  
  .dropdown-menu.active {
    display: block;
  }
  
  .navbar-item.dropdown {
    position: relative; /* Ensure the dropdown menu is positioned relative to the navbar item */
  } 
  .dropdown-menu-item .navbar-link {
    display: inline-block; /* Ensure links are inline-block to center them */
  }
  .navbar-item.dropdown:hover .dropdown-menu {
    display: block;
  } 
  .dropdown-arrow {
    transition: transform 0.3s ease; /* Smooth transition for rotation */
  }
  
  .navbar-item.dropdown:hover .dropdown-arrow {
    transform: rotate(180deg);
  }