:root {
  --chinese-violet_30: hsla(304, 14%, 46%, 0.3);
  --chinese-violet: hsl(304, 14%, 46%);
  --sonic-silver: hsl(208, 7%, 46%);
  --old-rose_30: hsla(357, 37%, 62%, 0.3);
  --ghost-white: hsl(233, 33%, 95%);
  --light-pink: hsl(357, 93%, 84%);
  --light-gray: hsl(0, 0%, 80%);
  --old-rose: hsl(357, 37%, 62%);
  --seashell: hsl(20, 43%, 93%);
  --charcoal: hsl(203, 30%, 26%);
  --white: hsl(0, 0%, 100%);

  --ff-philosopher: "Philosopher", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-roboto: "Philosopher", sans-serif;
}

/* General Styles */
body {
  font-family: var(--ff-philosopher);
  background-color: var(--seashell);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  position: relative;
  align-items: center;
  height: 100%;
  width: 100%;
  user-select: none;
}
.navbar {
  width: 100%;
  background-color: #f5ebe6;
 
}
.navbar-header {
  width: 100%;
  font-family: var(--ff-poppins);
  font-size: 4rem;
  line-height: 1;
 
  display: block;
  text-decoration-color: #fff;
}
.navbar-header a {
  color: rgb(247, 150, 150);
  margin-left: 90%;
}

#container {
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--chinese-violet_30);
  width: 300px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  color: var(--charcoal);
  font-size: 24px;
}

h2 {
  color: var(--charcoal);
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background-color: var(--old-rose);
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}

button:hover {
  background-color: var(--old-rose_30);
}

#auth {
  margin-bottom: 20px;
}

#book-manager {
  margin-top: 20px;
}

#book-manager h2 {
  font-size: 18px;
}

#book-manager input[type="text"] {
  margin-bottom: 10px;
}

#book-list {
  list-style-type: none;
  padding: 0;
}

#book-list li {
  background-color: var(--ghost-white);
  margin: 5px 0;
  padding: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
}
.input-box{
  position: relative;
}

#eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;
    height: 20px;
    width: 25px;
}

#eye-icon-login {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 20px;
  width: 25px;
}
@media only screen and (max-width: 786px) {
  #container{
    height:465px;
  }
}
@media only screen and (max-width: 375px) {
  #container{
    width: 250px;
    height:480px;
    padding-bottom: 30px;
  }
}
