:root {
    --btn-bg-color: hsl(357, 37%, 62%);
    --btn-bg-hover-color: hsl(357, 37%, 52%);
    --btn-text-color: white;
    --background-color: hsl(20, 43%, 93%);
    ;
    --old-rose: hsl(357, 37%, 62%);
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

.book-display .benefits-content {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.book-display .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 50px;
}

.book-item {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    padding: 5px;
    padding-bottom: 30px;

}

.book-cover {
    width: 4.5cm;
    height: 6.5cm;
    border: 2px solid transparent;
    padding: 6px;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.book-title {
    margin: 10px 0;
    font-size: 18px;
    color: #474747;
}

h2.section-title {
    font-family: 'Philosopher', sans-serif;
    color: hsl(203, 30%, 26%);
    sss;
    font-size: 3em;
}

.section-text {
    font-family: "Poppins", sans-serif;
    color: hsl(208, 7%, 46%);
}

.book-item:hover {
    transform: translateY(-5px);
}

.book-cover:hover {
    border-color: hsl(357, 37%, 62%);
    transform: scale(1.05);
}

.btn-secondary {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    width: fit-content;
    margin-left: 40px;


}

.btn-secondary::after,
.btn-secondary::before {
    content: "";
    position: absolute;
    transition: background-color 0.3s ease-in-out;
}

.btn-secondary::after {
    width: 100%;
    height: 6px;
    background-color: var(--border-color-bottom);
    bottom: -6px;
    left: 0;
}

.btn-secondary::before {
    width: 6px;
    height: 100%;
    background-color: var(--border-color-right);
    top: 0;
    right: -6px;
    
}

.btn-secondary:hover {
    background-color: var(--btn-bg-hover-color);

}