button{
    padding: 1rem 1.5rem;
    background-color: #009e30;
    color: #fff;
    border: solid 1px #009e30;
    cursor:pointer;
    
}
a:link, a:visited{
    text-decoration:none;
    color: #fff;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}