  /* nav bar div */
  .navbar{

    background-color:hsl(20, 43%, 93%);
    padding: 2%;
    border-radius: 8px;
    margin-bottom: 30px;
}
 nav a{
    color: hsl(203, 30%, 26%);
    text-decoration: none;
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
 font-family: Raleway;
 
 }

 nav a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav a:hover {
  background-color:beige;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 5px;
  padding: 6px;
  border: 2px solid black;
}

body {
    background-color:hsl(357, 93%, 84%);
    padding: 1px;
    font-style:normal;
    background-position: center,bottom;
  }

  /* intro to page */
  .bookworm{
    font-family: Raleway;
    color: black;
  text-align: center;
 
  }

  .bookworm2{
    font-family: Raleway;
    color: black;
  text-align: center;
  font-size: 25px;
  margin-bottom: -10px;
  margin-top: 0;
  }
  
  .bookworm3{
    font-family: Raleway;
    color: black;
  text-align: center;
  font-size: 20px;
  }


/* FORGOT PASSWORD DIV */
:root{
--ff-poppins: 'Poppins', sans-serif;
}

  #FORGOTPASSWORD {
    font-size:small;
    font-family: var(--ff-poppins);
  }
  
  .FORGOTPASSWORD {

    overflow: hidden;
    position: absolute; 
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: var(--ff-poppins);
    background-color: hsl(357, 37%, 62%);
    width: 480PX;
    margin: 0 auto;
    height: 400PX;
    border-radius: 2%;
    padding: 10PX;
    box-shadow: 0 0 15px 5px #24004628;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 2px;
  }
  
  .FORGOTPASSWORD label {
    margin: 5% 0 5%;
  }
  
  label:hover{
color: black;
  }
  
  label {
    font-family: Raleway;
    color: #fff;
    font-size:40px;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-bottom: 1;
  }
  
  .input[type="email"] {
    align-self: center;
    background: #e0dede;
    padding: 0 10px;
    border: none;
    margin-top: 5%;
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
    width:400px;
    height: 30px;
    margin-top: 0px;
  }
/* Enter email */
  .ver-code{
    font-size: 20px;
  padding-left: 28px;
    justify-content: center;
    color:black;
    font-family: Raleway;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  

 /* submit button */
  button {
    font-family: Raleway;
    width:400px;
    height: 30px;
    margin: 12px auto 10%;
    color: #fff;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 1px 1px 10px 3px #24004628;
    
  }

  button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }

  
