  .navbar{

    background-color:burlywood;
    padding: 2%;
    border-radius: 8px;
}
 nav a{
    color: black;
    text-decoration: none;
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
 font-family: Raleway;
 }

 nav a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav a:hover {
  background-color:beige;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 5px;
  padding: 6px;
  border: 2px solid black;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(357, 37%, 62%);
    padding: 1px;
    font-style:normal;
    background-image: url('https://i.pinimg.com/564x/36/a0/85/36a085785eabcc6add04d35e8c97be37.jpg');
    background-repeat: no-repeat;
    background-size: 2200px;
    background-position: center,bottom;
  }
h1,.fp{
    text-align: center;
    font-family: Raleway;
    
}

.fp{
    font-size: 30px;
    color: beige;
    font-weight: bold;
    margin-top: 10px;
}
 .container {
    width: 600px;
    margin: 0 auto;
    height: 200px;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    position: relative;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    border-color: black;
    display: block;
    font-family: Raleway;
  }
   h3{
    font-size: 25px;
   }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #3e8e41;
  }


  .fade-in {
    -webkit-animation: fade-in 1s ease-in-out;
            animation: fade-in 1s ease-in-out;
    background-color:burlywood;
    border-radius: 5px;
    padding: 4px;
  }
  
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
