:root{
  /**
   * typography
   */

   --ff-philosopher: "Philosopher", sans-serif;
   --ff-poppins: "Poppins", sans-serif;
 
   --fs-1: 4rem;
   --fs-2: 3.2rem;
   --fs-3: 2.7rem;
   --fs-4: 2.4rem;
   --fs-5: 2.2rem;
   --fs-6: 2rem;
   --fs-7: 1.8rem;
 
   --fw-500: 500;
   --fw-700: 700;
   /**
   * colors
   */

  --chinese-violet_30: hsla(304, 14%, 46%, 0.3);
  --chinese-violet: hsl(304, 14%, 46%);
  --sonic-silver: hsl(208, 7%, 46%);
  --old-rose_30: hsla(357, 37%, 62%, 0.3);
  --ghost-white: hsl(233, 33%, 95%);
  --light-pink: hsl(357, 93%, 84%);
  --light-gray: hsl(0, 0%, 80%);
  --old-rose: hsl(357, 37%, 62%);
  --seashell: hsl(20, 43%, 93%);
  --charcoal: hsl(203, 30%, 26%);
  --white: hsl(0, 0%, 100%);
}

/* nav bar div */
  .navbar{

    background-color:#fff;
    padding: 1%;
    border-radius: 8px;
    /* margin-bottom: 30px; */
    margin: 1.5rem 12rem 1.5rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

nav{
  display: flex;
}

 nav a{
    color: hsl(203, 30%, 26%);
    display: inline-block;
    text-decoration: none;
    padding: 0px 8px 0px 8px;
    font-size: 1.2rem;
    font-family: var(--ff-poppins);
    margin-right: 3rem;
 }

 nav a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav a{
  position: relative;
  color: hsl(200, 11%, 22%);
  line-height: 2;
  transition:  all 0.15s ease;
}

nav a {
  position: relative;
  color: inherit;
  text-decoration: none; /* Remove default underline */
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust position below the text */
  width: 0;
  height: 2px; /* Adjust height of the underline */
  background-color: hsl(357, 37%, 62%);
  transition: width 0.3s ease;
 
}

nav a:is(:hover, :focus)::after {
  width: 100%;
}

nav a:is(:hover , :focus){
  color: hsl(357, 37%, 62%);
  text-shadow: 2px 2px 4px hsl(304, 14%, 46%);
  font-weight: 500;
}

body {
    background-color: #f5ebe6;
    padding: 1px;
    font-style:normal;
    background-position: center,bottom;
  }

  /* intro to page */
  .bookworm{
    font-family: var(--ff-philosopher);
    color: rgb(247, 150, 150);
  text-align: center;
 
  }

  .bookworm2{
    font-family: var(--ff-poppins);
    color: var(--sonic-silver);
  text-align: center;
  font-size: 25px;
  margin-bottom: -10px;
  margin-top: 0;
  }
  
  .bookworm3{
    font-family: var(--ff-poppins);
    color: var(--sonic-silver);
  text-align: center;
  font-size: 20px;
  }


/* FORGOT PASSWORD DIV */

  #FORGOTPASSWORD {
    font-size:small;
    font-family: var(--ff-poppins);
  }
  
  .FORGOTPASSWORD {

    overflow: hidden;
    position: absolute; 
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: var(--ff-poppins);
    background-color: hsl(357, 37%, 62%);
    width: 480PX;
    margin: 0 auto;
    height: auto;
    border-radius: 2%;
    padding: 10PX;
    box-shadow: 0 0 15px 5px #24004628;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 2px;
  }
  
  .FORGOTPASSWORD label {
    margin: 5% 0 5%;
    text-align: center;
  }

  
  label {
    font-family: Raleway;
    color: #fff;
    font-size:40px;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-bottom: 1;
  }
  
  .input[type="email"] {
    align-self: center;
    background: #e0dede;
    padding: 0 10px;
    border: none;
    margin-top: 5%;
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
    width: 400px;
    height: 30px;
    margin-top: 0px;
  }

/* Enter email */
  .ver-code{
    margin-top: 1.5rem;
    font-size: 20px;
  /* padding-left: 2rem; */
    color: #fff;
    font-family: var(--ff-poppins);
    margin-bottom: 5px;
    text-align:center;
  }

  .back{
    text-align: center;
    color: #e0dede;
    font-family: var(--ff-poppins);
    margin-top: 1rem;
    text-decoration: none;
  }
  

 /* submit button */
  button {
    font-family: Raleway;
    width:400px;
    height: 30px;
    margin: 12px auto 10%;
    color: #fff;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 1px 1px 10px 3px #24004628;
    
  }

  button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }

  /* Responsive styles */
@media (max-width: 600px) {
  .FORGOTPASSWORD {
    width: 70%; /* Adjust as needed */
    margin: 10% auto; /* Adjust as needed */
  }
  
  .input[type="email"] {
    width: 90%; /* Make the input full width */
  }

  button {
    width: 90%; /* Make the button full width */
     margin: 12px auto;
  }
}
 
  
