.benefits-content {
    max-width: 80%;

}

.container1 {
    padding: 70px 100px;
    background-color: var(--seashell);
    border: 2px solid hsl(20, 43%, 93%);
    box-shadow: var(--shadow-2);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    gap: 2rem;
}

.section {
    padding-block: var(--section-padding);
   
}



.section:nth-child(odd) {
    background-color: var(--seashell);
}
.section:nth-child(4) {
    background-color: var(--seashell);
}
.section:nth-child(5) {
    background-color:var(--seashell);
}

.h1,
.h2,
.h3,
.tab-text {
  color: var(--charcoal);
  font-family: var(--ff-philosopher);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-2);
}

.h2 {
  font-size: var(--fs-3);
}

.h3 {
  font-size: var(--fs-5);
}

.section-text {
    font-size: var(--fs-7);
    padding-left: 30px;
    padding-right: 30px;
}

.has-underline {
    position: relative;
    margin-block-end: 60px;
  }
  
  .has-underline .span {
    height: 2px;
    background-color: var(--old-rose_30);
    width: 200px;
    margin-inline: auto;
    margin-block-start: 30px;
  }
  
  .has-underline .has-before::before {
    width: 18px;
    height: 18px;
    top: 2px;
    left: 45%;
    transform: translateY(-50%) rotate(45deg);
    background-color: var(--old-rose_30);
    box-shadow: 7px -7px var(--old-rose_30);
  }
  .book_title .dark-mode{
    color:white;
  }
  .section_text1{
    color:white;
  }
 .read_later_button{
  padding: 10px 40px;
 }