body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5ebe6;
}
.navbar-header{
  display: flex;
  width: 100%;
}
.close-icon{
  margin: 10px;
}
h1{
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 7%;
  font-size: 25px;
  font-weight: 800;
  color: #ce6857;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message {
    color: red;
} */


.note {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ce6857;
  text-align: center;
}

.main {
  position: relative;
  margin: auto;
  flex-direction: column;
  background-color: #ce6857;
  max-height: 44rem;
  width: 90%;
  max-width: 40rem;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
  margin-bottom: 10rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}


.login label {
  margin: 15% 0 5%;
}

label {
  color: #fff;
  font-size: 3rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 2rem;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 70% / 7%;
  height: 370px;
  transform: translateY(-6%);
  transition: 0.8s ease-in-out;
}

.register label {
  color: #ce6857;
  transform: scale(0.6);
}
#chk:checked ~ .register {
  transform: translateY(-69%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(0.6);
  margin: 5% 0 5%;
}
/*Button*/
.form button {
  width: 100%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #d54b33;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.form button:hover {
  background-color: red;
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-bottom {
  text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    color: #6d767e;
}

.forget-password {
  font-size: small;
  text-align: center;
  margin: -30px 0 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  body {
    font-size: 2rem;
  }
  h1{
    display: none;
  }
  .navbar-header{
    display: flex;
    justify-content: left;
  }
  .main {
    width: 95%;
  }
}

/**
* Dark Mode
*/

body.dark-mode {
  background-color: #1e1c1c;
  color: #ffffff;
}


.social-icons-container {
  display: flex;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  margin: 32px 0;
  justify-content: center;
}

.social-icons-container a {
  display: flex;
  gap: 8px;
  font-size: 42px;
  text-decoration: none;
  align-items: center;
  width: 38px;
  height: 38px;
  line-height: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.social-icons-container a:hover {
  width: 138px;
}

.social-icons-container a .name {
  font-size: 16px;
  font-weight: bold;
}

.social-icons-container a:nth-of-type(1) {
  color: #4267b2;
}

.social-icons-container a:nth-of-type(2) {
  color: #1da1f2;
}

.social-icons-container a:nth-of-type(3) {
  color: #e1306c;
}

.social-icons-container a:nth-of-type(4) {
  color: #ff0000;
}
.popup{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s , top 0.4s;
  z-index: 4;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
.popup img{
  width: 100px;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #d54b33;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}