:root {
  /*font*/
  --ff-philosopher: 'Philosopher', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  /*colors*/
  --chinese-violet_30: hsla(304, 14%, 46%, 0.3);
  --chinese-violet: hsl(304, 14%, 46%);
  --sonic-silver: hsl(206, 11%, 59%);
  --old-rose_30: hsla(357, 37%, 62%, 0.3);
  --ghost-white: hsl(233, 33%, 95%);
  --light-pink: hsl(357, 93%, 84%);
  --light-gray: hsl(0, 0%, 80%);
  --old-rose: hsl(357, 37%, 62%);
  --seashell: hsl(20, 43%, 93%);
  --charcoal: hsl(203, 30%, 26%);
  --white: hsl(0, 0%, 100%);
  --black: rgb(0, 0, 0);
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--ff-philosopher);
  font-size: 4rem;
  /* background-color: #c9acc2; */
  background-color: #f5ebe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* gap: 1px; */
}

p {
  font-size: 1rem;
}

.navbar {
  width: 100%;
  background-color: #f5ebe6;
}
.navbar-header {
  width: 100%;
  font-family: var(--ff-poppins);
  font-size: 4rem;
  line-height: 1;

  display: block;
  text-decoration-color: #fff;
}
.navbar-header a {
  color: #ce6857;
  font-size: 2rem;
  margin-left: 2rem;
}
.pass-container{
  position: relative;
}
.fa{
  position: absolute;
  top: 45%;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
}
/* .col-sm-5{
    margin-left:200px;
    align-items: right;
    margin-bottom: 200px;
}
.col-sm-4{
    margin-left: 0px;
}
.loginbox{
    box-sizing: border-box;
    display: block;
}
.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.form-container h2 {
    margin-top: 0;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message {
    color: red;
} */

.form {
	display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 35px;
    margin-top: -30px;
}

.note {
  width: 50%;
  max-width: 600px;
  font-family: var(--ff-philosopher);
  margin-bottom: 4rem;
}

.note h1 {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(247, 150, 150);
  text-align: center;
  font-family: var(--ff-philosopher);
}

.note h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--sonic-silver);
  /* color: #4267b2; */
  text-align: center;
  font-family: var(--ff-poppins);
}

.note div {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  /* background-color: #240046; */
  background-color: hsl(357, 37%, 62%);
  max-height: 60rem;
  width: 100%;
  max-width: 50rem;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 0 0 15px 5px #24004628;
  /* margin-bottom: 10rem;
  margin-left: 4rem; */
}


/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/

#login {
  font-size: medium;
  font-family: var(--ff-poppins);
}

.login {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--ff-poppins);
}

.login label {
  margin: 5% 0 5%;
}

label {
  color: #fff;
  font-size: 3rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #dadada;
  padding: 10px;
  border: none;
  margin-top: 5%;
  outline: none;
  border-radius: 4px;
  font-size: 1.5rem;
}
/* OR separator */
#or {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  font-size: 1.5rem;
  height: 1px; 
  margin: 10px 0;
}

#or::before,
#or::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #ccc;
}

#or::before {
  margin-right: 10px;
}

#or::after {
  margin-left: 10px;
}

/* Google button */
#google-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40px;
  font-family: var(--ff-poppins);
  background-color: #2887e0;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2px;
}

#google-sign-in:hover {
  background-color: #ca1107;
}


/*Register*/
#register{
  font-size: medium;
  color: var(--old-rose);
  background-color: #eee;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

#register:hover {
  background-color: white;
  background-color: var(--old-rose);
}

.register {
  background: #eee;
  width:100%;
  font-family: var(--ff-poppins);
  border-radius: 90% / 10%;
  transform: translateY(4%);
  transition: 0.8s ease-in-out;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
#register{
  color: var(--old-rose);
}
#register:hover {
  color: white;
  background-color: var(--old-rose);
}


.register label {
  color: var(--old-rose);
  margin-top: 1rem;
  transform: scale(0.6);
}

.register label:hover {
  color: #000000;
}

#chk:checked ~ .register {
  transform: translateY(-69%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  /* margin: 5% 0 5%; */
}

#chk:checked ~ .login label {
  transform: scale(0.6);
  margin: 5% 0 5%;
}
/*Button*/
.form button {
  width: 95%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 1px 1px 10px 3px #24004628;
}

.form button:hover {
  background-color: rgb(255, 255, 255);
  color: #d54b33;
}

.btn-primary {
  background-color: var(--old-rose);
  color: var(--white);
  border-radius: var(--radius-5);
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--chinese-violet);
}

.btn-secondary {
  border: 1px solid var(--old-rose);
  color: var(--old-rose);
  border-radius: var(--radius-5);
}

.btn-secondary:is(:hover, :focus) {
  background-color: var(--old-rose);
  color: var(--white);
}

.close-icon {
  margin-top: 0.5rem;
  padding-left: 92%;
}

#register{
  color: #d54b33;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-bottom {
  padding-block: 20px;
  border-block-start: 1px solid rgb(169, 166, 166);
  color: hsl(208, 7%, 46%);
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

.forget-password {
  font-size: small;
  text-align: center;
  margin: -20px 0 10px;
  color: white;
  font-weight: bold;
}

.forget-password a {
  color: white;
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  body {
    font-size: 2rem;
  }

  .navbar-header {
    font-size: 2rem;
  }

  .main {
    bottom: 0%;
    padding: 0px;
  }

  .note h1 {
    font-size: 2.5rem;
  }

  .main {
    width: 100%;
    height:420px;
  }
  .register{
    width: 100%;
	margin-top: -30px;
    margin-left: 0%;
    padding-left: 0%;
    margin-bottom: 0px;
    padding-bottom: 45px;
  }
  .register .form label{
    margin-top:0px;
  }
  #email{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #register{
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.input-box{
  position: relative;
}

#eyeicon {
    position: absolute;
    top: 69%;
    right: 15px;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;
    height: 35px;
    width: 40px;
}

#eyeicon-login {
  position: absolute;
  top: 69%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 30px;
  width: 35px;
}

.progress {
    height: 3px !important;
}

.progress-bar-danger {
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}

.list-unstyled li{
	font-size: 18px;
}
.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}
@media (max-width : 796px) {
	.list-unstyled li{
		font-size: 12px;
	}
	.form {
		gap:0;
	}
	#register{
		margin-top: 1px;
	}
	/* #or{
		margin-top: -10px;
	} */
	#google-sign-in{
		width: 80%;
	}
}

@media (max-width: 480px) {
  .main {
    padding: 0px;
  }
  .input,
  .form button {
    font-size: 1rem;
  }
  .register{
    width: 100%;
    margin-left: 0%;
    padding-left: 0%;
    margin-bottom: 0px;
    padding-bottom: 45px;
  }
}

/**
* Dark Mode
*/

body.dark-mode {
  background-color: #1e1c1c;
  height: 100%;
  color: #ffffff;
}

.note h1.dark-mode{
  color: #e6e6e6;
}
.note h2.dark-mode{
  color: #b6b6b6;
}
.navbar.dark-mode{
  background-color: #1e1c1c;
}
.main.dark-mode{
  box-shadow: 0 0 20px rgba(230, 230, 230, 0.2);
  background-color: hsl(0, 0%, 16%);
}
#login label.dark-mode{
  color:#e6e6e6;
}
#login.dark-mode{
  background-color: #373737;
}
#login.dark-mode:hover{
  color: var(--old-rose);
}
.register.dark-mode{
  background-color: #e0dede;
}
.register input.dark-mode{
  background-color: #c3c3c3;
}
#register.dark-mode{
  background-color: #373737;
  color: #ededed;
}
#register.dark-mode:hover{
  color: var(--old-rose);
}

.register label.dark-mode{
  color:#373737;
}

.social-icons-container {
  display: flex;
  gap: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 32px 0;
  justify-content: center;
}

.social-icons-container a {
  display: flex;
  gap: 8px;
  font-size: 42px;
  text-decoration: none;
  align-items: center;
  width: 38px;
  height: 38px;
  line-height: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.social-icons-container a:hover {
  width: 138px;
}

.social-icons-container a .name {
  font-size: 16px;
  font-weight: bold;
}

.social-icons-container a:nth-of-type(1) {
  color: #4267b2;
}

.social-icons-container a:nth-of-type(2) {
  color: #1da1f2;
}

.social-icons-container a:nth-of-type(3) {
  color: #e1306c;
}

.social-icons-container a:nth-of-type(4) {
  color: #ff0000;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#google {
  background-color: #db4437; /* Google Red */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: -29px 0 44px 0px;
}

#google:hover {
  background-color: #c1351d; /* Darker shade of Google Red */
}

.option {
  font-size: small;
  color: #000000;
  margin: -47px 0px 32px 0px;
  text-align: center;
}
