:root{

  /*font*/
--ff-philosopher: "Philosopher", sans-serif;
--ff-poppins: "Poppins", sans-serif;

/*colors*/
--chinese-violet_30: hsla(304, 14%, 46%, 0.3);
--chinese-violet: hsl(304, 14%, 46%);
--sonic-silver: hsl(208, 7%, 46%);
--old-rose_30: hsla(357, 37%, 62%, 0.3);
--ghost-white: hsl(233, 33%, 95%);
--light-pink: hsl(357, 93%, 84%);
--light-gray: hsl(0, 0%, 80%);
--old-rose: hsl(357, 37%, 62%);
--seashell: hsl(20, 43%, 93%);
--charcoal: hsl(203, 30%, 26%);
--white: hsl(0, 0%, 100%);
--black:rgb(0,0,0);


}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--ff-philosopher);
  font-size: 4rem;
  /* background-color: #c9acc2; */
  background-color: #f5ebe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* gap: 1px; */
}

p{
  font-size: 1rem;
}

.navbar {
  width: 100%;
  background-color: #f5ebe6;
}
.navbar-header {
  width: 100%;
  font-family: var(--ff-poppins);
  font-size: 4rem;
  line-height: 1;
  
  display: block;
  text-decoration-color: #fff;
}
.navbar-header a {
  color: #ce6857;
  font-size: 2rem;
  margin-left: 2rem;
}


/* .col-sm-5{
    margin-left:200px;
    align-items: right;
    margin-bottom: 200px;
}
.col-sm-4{
    margin-left: 0px;
}
.loginbox{
    box-sizing: border-box;
    display: block;
}
.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.form-container h2 {
    margin-top: 0;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message {
    color: red;
} */

.note {
  width: 50%;
  max-width: 600px;
  font-family: var(--ff-philosopher);
}

.note h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #1f0b07;
  text-align: center;
  font-family: var(--ff-philosopher) ;
}

.note h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--sonic-silver);
  text-align: center;
  font-family: var(--ff-poppins) ;
}

.note div{
  padding-top:2rem;
  font-size: 2.5rem;
  font-weight:500;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  /* background-color: #240046; */
  background-color: hsl(357, 37%, 62%);
  max-height: 44rem;
  width: 90%;
  max-width: 40rem;
  overflow: hidden;
  border-radius:2%;
  box-shadow: 0 0 15px 5px #24004628;
  /* margin-bottom: 10rem;
  margin-left: 4rem; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}


/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/

#login{
  font-size: medium;
  font-family: var(--ff-poppins);
}

.login {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--ff-poppins);
}

.login label {
  margin: 5% 0 5%;
}

label {
  color: #fff;
  font-size: 3rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  margin-top: 5%;
  outline: none;
  border-radius: 4px;
  font-size: 1.5rem;
}

/*Register*/
#register{
  font-size: medium;
  background-color: var(--old-rose);
  color: white; 
  cursor: pointer; 
 
}

#register:hover {
  background-color: white; 
  background-color: var(--old-rose);
}

.register {
  background: #eee;
  font-family: var(--ff-poppins);
  border-radius: 90% / 10%;
  transform: translateY(-6%);
  transition: 0.8s ease-in-out;
}

.register label {
  color: #ce6857;
  transform: scale(0.6);
}

.register label:hover {
  color: #000000;

}


#chk:checked ~ .register {
  transform: translateY(-70%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(0.6);
  margin: 5% 0 5%;
}
/*Button*/
.form button {
  width: 95%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 1px 1px 10px 3px #24004628;
}

.form button:hover {
  background-color: rgb(255, 255, 255);
  color: #d54b33;
}



.btn-primary {
  background-color: var(--old-rose);
  color: var(--white);
  border-radius: var(--radius-5);
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--chinese-violet);
}

.btn-secondary {
  border: 1px solid var(--old-rose);
  color: var(--old-rose);
  border-radius: var(--radius-5);
}

.btn-secondary:is(:hover, :focus) {
  background-color: var(--old-rose);
  color: var(--white);
}

.close-icon {
  margin-top: 0.5rem;
  padding-left:92%;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-bottom {
  padding-block: 20px;
  border-block-start: 1px solid rgb(169, 166, 166);
  color: hsl(208, 7%, 46%);
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

.forget-password {
  font-size: small;
  text-align: center;
  margin: -30px 0 10px;
  color:white;
  font-weight: bold;
}

.forget-password a{
  color:white;
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  body {
    font-size: 2rem;
  }

  .navbar-header {
    font-size: 2rem;
  }

  .main {
    bottom: 0%;
    padding: 10px;
  }

  .note h1 {
    font-size: 2.5rem;
  }

  .main {
    width: 95%;
  }
}


@media (max-width: 480px) {
  .main {
    padding: 15px;  
  }
  .input, .form button {
    font-size: 1rem;
  }
}

/**
* Dark Mode
*/

body.dark-mode {
  background-color: #1e1c1c;
  color: #ffffff;
}


.social-icons-container {
  display: flex;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  margin: 32px 0;
  justify-content: center;
}

.social-icons-container a {
  display: flex;
  gap: 8px;
  font-size: 42px;
  text-decoration: none;
  align-items: center;
  width: 38px;
  height: 38px;
  line-height: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.social-icons-container a:hover {
  width: 138px;
}

.social-icons-container a .name {
  font-size: 16px;
  font-weight: bold;
}

.social-icons-container a:nth-of-type(1) {
  color: #4267b2;
}

.social-icons-container a:nth-of-type(2) {
  color: #1da1f2;
}

.social-icons-container a:nth-of-type(3) {
  color: #e1306c;
}

.social-icons-container a:nth-of-type(4) {
  color: #ff0000;
}
