@media (max-width: 961px) {
    .light-mode .navbar{
      background-color: white;
    }
    .dark-mode .navbar{
     background-color: black;
    }
    body .navbar{
     display: flex;
     justify-content: center;
     position:absolute;
     width:100%;
     height: auto;
     max-height: unset;
     visibility: unset;
     overflow: unset;
     max-height: unset;
     transition: 0.3s ease-in;
     border: none;
    }
     body .nav_activated{transform:translateX(-200%)}
    .navbar-list {
      flex-direction: column;
    }
  }
  