@media (max-width: 990px) {
  body .switch-container {
    margin-right: 10px !important;
    position: unset !important;
  }
  .logopic {
    margin: auto;
  }
  .switch-container {
    margin-top: 3.2rem;
    margin-right: -0.5rem;
  }
  #mobile_View_Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 1rem;
  }
  #menu_lines,
  #menu_lines::before,
  #menu_lines::after {
    height: 2px;
    width: 15px;
    background: black;
    transition: 0.2s ease-in;
  }
  #menu_lines::before {
    content: "";
    position: absolute;
    top: -5px;
  }
  #menu_lines::after {
    content: "";
    position: absolute;
    top: 5px;
  }
  .light-mode .navbar {
    background-color: rgb(248, 184, 184);
  }
  .dark-mode .navbar {
    background-color: black;
  }
  .dark-mode #menu_lines,
  .dark-mode #menu_lines::before,
  .dark-mode #menu_lines::after {
    background-color: white;
  }
  .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .container {
    max-width: 560px;
  }
  body .navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 70%;
    transform: translateX(-10%);
    top: 0;
  }
  body .nav_activated {
    transform: translateX(-200%);
  }
  .navbar-list {
    gap: 0.5rem;
  }
  body .header {
    top: 0.5rem;
    height: 9rem;
    left: 0;
    right: 0;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
  }
  .header .container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100vw;
    max-width: 100vw;
  }
  .navbar-link {
    height: auto;
  }
  .icons {
    width: auto;
    padding-top: 10px;
  }
  .open_menu #menu_lines::before,
  .open_menu #menu_lines::after {
    top: 0px;
  }
  .open_menu #menu_lines {
    background: transparent;
  }
  .open_menu #menu_lines::before {
    rotate: 45deg;
  }
  .open_menu #menu_lines::after {
    rotate: -45deg;
  }
  .light-mode .navbar-item {
    background-color: white;
    width: 100%;
  }
  .dark-mode .navbar-item {
    background-color: black;
    width: 100%;
  }
  body .navbar-list {
    display: block;
    width: 100%;
    height: auto;
    padding: 6rem;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.3s ease-in;
    border: none;
  }
  body .nav_activated {
    transform: translateX(-200%);
  }
}
@media (max-width: 575px) {
  body .navbar {
    transform: translateX(0%);
  }
  body .nav_activated {
    transform: translateX(-200%);
  }
  body .switch-container {
    margin-right: 10px !important;
    position: unset !important;
  }
}
@media (min-width: 990px) {
  #mobile_View_Menu {
    display: none;
  }
}
