*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.main{
	margin-left:25%;
	margin-right: 25%;
	height: 100vh;
	min-width: 100px;
	border-radius: 3px;
	background-color: beige;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap:10px;
}
.image{
margin-top: 20px;
}
.image img{
	margin:25px ;
	border-radius: 50%;
	height: 100px;
	width:100px;
}
.image .username input{
	background-color: beige;
	border:none;
}
.details .username input{
	background-color: beige;
	border:none;
}