body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    
    background-color: #f3b6b6; /* Example button color */

    color: white;
    padding: 1rem;
    text-align: center;
}


header div button {
    padding: 10px 20px;
    background-color: rgb(205, 168, 168);
    ;    color: rgb(83, 2, 2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header div button:hover {
    background-color: #f69393; /* Example hover color */
    border-radius: 25%;
  }

main {
    padding: 1rem;
}

section {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #f68341;
}

.user-item {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-item h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
}

.user-item p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #666;
}

.connect-btn {
    padding: 0.5rem;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.connect-btn:hover {
    background-color: #218838;
}

#connections-list {
    margin-top: 1rem;
}

#chat-window {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#message-input {
    width: calc(100% - 80px);
    padding: 0.5rem;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#send-btn {
    padding: 0.5rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#send-btn:hover {
    background-color: #0056b3;
}

#privacy-settings label {
    display: block;
    margin-bottom: 0.5rem;
}

#privacy-settings input[type="checkbox"] {
    margin-right: 0.5rem;
    cursor: pointer;
}

#chat-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.chat-btn {
    padding: 0.5rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.chat-btn:hover {
    background-color: #0056b3;
}

.active {
    background-color: #0056b3;
}

.active:hover {
    background-color: #004399;
}
