#caduceus-container {
    position: fixed;
    top: 130px; 
    right: 30px;
    z-index: 1000;
    transform-origin: top center;
    animation: swing 3s ease-in-out infinite;
  }
  #caduceus {
    width: 50px; 
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  @keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  /* Responsive styles */
@media screen and (max-width: 768px) {
    #caduceus-container {
      top: 120px;
      right: 30px;
    }
  }
  
  @media screen and (max-width: 320px) {
    #caduceus-container {
      top: 120px;
      right: 60px;
    }
  }
  
  /* Tablet-specific styles *//*COrrect*/
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #caduceus-container {
        top: 120px;
        right: 30px;
      }
  #caduceus {
    width: 30px;
    height: 30px;
  }
  }

 /*Correect*/ /* iPhone SE, 5, 5S, 5C, iPod Touch 5g and up */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
#caduceus-container {
  top: 120px;
  right: 60px;
}
#caduceus {
  width: 30px;
  height: 30px;
}
}

/* iPhone 6, 6S, 7, 8 */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) {
#caduceus-container {
  right: 8px;
}
#caduceus {
  width: 30px;
  height: 30px;
}
}

/* iPhone 6+, 7+, 8+ */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) {
#caduceus-container {
  top: 35px;
  right: 10px;
}
#caduceus {
  width: 30px;
  height: 30px;
}
}

/* iPhone X, XS, 11 Pro */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {
#caduceus-container {
  top: 40px;
  right: 12px;
}
#caduceus {
  width: 30px;
  height: 30px;
}
}

/* iPhone XR, XS Max, 11, 11 Pro Max */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 896px) 
and (-webkit-min-device-pixel-ratio: 2) {

#caduceus {
  width: 30px;
  height: 30px;
}
}