.social-icons-container {
    display: flex;
    gap: 30px;
    font-family: "Roboto", sans-serif;
    margin: 32px 0;
    justify-content: center;
  }
  
  .social-icons-container a {
    display: flex;
    gap: 8px;
    font-size: 42px;
    text-decoration: none;
    align-items: center;
    width: 38px;
    height: 38px;
    line-height: 0;
    overflow: hidden;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
  }
  
  .social-icons-container a:hover {
    width: 138px;
  }
  
  .social-icons-container a .name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .social-icons-container a:nth-of-type(1) {
    color: #4267b2;
  }
  
  .social-icons-container a:nth-of-type(2) {
    color: #1da1f2;
  }
  
  .social-icons-container a:nth-of-type(3) {
    color: #e1306c;
  }
  
  .social-icons-container a:nth-of-type(4) {
    color: #ff0000;
  }