.fa-facebook-square, .fa-square-x-twitter, .fa-instagram-square, .fa-youtube-square {
    font-size: 24px; /* Set the initial size */
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.fa-facebook-square:hover, .fa-square-x-twitter:hover, .fa-instagram-square:hover, .fa-youtube-square:hover {
    transform: scale(1.4); /* Increase the size to 120% on hover */
    color: rgb(189, 101, 39)

}
