
.icons {
    display: flex;
    gap: 20px; /* Adjust gap between icons */
}
.icon {
    font-size: 40px; /* Initial size of the icons */
    transition: transform 0.3s, color 0.3s; /* Smooth transition for transform and color */
}
.icon:hover {
    transform: scale(1.2); /* Enlarge icon on hover */
    color: #fc7fcc; /* Change color on hover (optional) */
}
.icon a {
    color: inherit; /* Maintain icon color */
    text-decoration: none; /* Remove underline from links */
}
