/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.header {
  position: fixed;
}

.testimonials {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b2f29a;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

/*  Benifits Card Alignment by "harshcodesit" */

.container {
  display: flex;
}

.benefits-card {
  width: 100%;
  height: 550.2px;
}

/* ############################################# */
/*Corrects testimonial cards in lol.HTML, Mystical-fantaies.HTML, mindful-living.HTML and many more*/
.card-wrapper .swiper-slide {
  border-radius: 100%;
}

.card {
  border-radius: 25px;
  width: 330px;
  background-color: var(--seashell);
  height: 350px;
}

.item-testimonial {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bio {
  font-size: 12px;
  margin-left: 15px;
  font-style: italic;
}

p.bio {
  color: black;
}

body.dark-mode .bio {
  color: aliceblue;
}

.image-content {
  padding: 25px 0;
}
.rows-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px !important;
  width: 50%;
}
.fa-discord-in {
  color: #5865f2;
}

.fa-linkedin-in {
  color: dodgerblue;
}
.fa-github-alt {
  color: rgb(42, 0, 80);
}

.fa-instagram {

  color: #4e6273;

}

body.dark-mode .fa-linkedin-in {

  color: rgb(170, 218, 255);

}

body.dark-mode .fa-discord {

  color: #8e6165;

}

body.dark-mode .fa-discord {
      color: #8e6165;
}

body.dark-mode .fa-github-alt {

  color: rgb(209, 184, 255);

}

body.dark-mode .fa-instagram {

  color: #8e6165;

}

body.dark-mode .fa-instagram {

  color: #8e6165;
  
}

.card-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #ffffff;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid hsl(357, 37%, 62%);
}
.flip-card-front {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
body.dark-mode .flip-card-front {
  background: linear-gradient(black, #4f1919);
}
.flip-card-back {
  background-color: transparent !important;
  color: var(--old-rose) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-navBtn {
  color: hsl(357, 37%, 62%);
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: hsl(357, 37%, 62%);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(357, 62%, 69%);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: hsl(357, 73%, 74%);
}

.swiper-pagination-bullet {
  background-color: hsl(357, 37%, 62%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: hsl(357, 37%, 62%);
}

.dark-mode {
  .backs {
    background-color: var(--white);
  }

  /* Enhancement of the cards containers in dark-mode of literary realms section */
  .cards {
    border: none;
  }

  .cards:hover {
    box-shadow: rgba(234, 170, 170, 0.743) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
  }
}

.card {
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.cardshar {
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.fronts {
  backface-visibility: hidden;
  background-color: white;
  border-radius: 50px;
}

.backs {
  /* transform: rotateY(180deg); */
  backface-visibility: hidden;
  border: 2px solid hsl(357, 37%, 62%);
  background-color: rgba(251, 239, 238);
  border-radius: 50px;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.backs {
  position: relative;
  padding: 10px 40px;
  flex-direction: column;

  &::before {
    content: "\201C";
    position: relative;
    font-weight: bold;
    font-size: 4em;
    color: hsl(357, 37%, 62%);
    font-family: Georgia, Times, serif;
    max-height: 30px;
    margin-right: auto;
    top: 0;
    transform: translateY(-30px);
  }

  &::after {
    content: "\201D";
    position: absolute;
    font-weight: bold;
    font-size: 4em;
    color: hsl(357, 37%, 62%);
    bottom: -40px;
    right: 20px;
    font-family: Georgia, Times, serif;
  }
}

body.dark-mode .card {
  box-shadow: inset 0px 0px 2px #efecea;
}

@media screen and (max-width: 700px) {
  .backs {
    font-size: 15px;
  }
}

@media screen and (min-width: 520px) and (max-width: 550px) {
  .backs {
    font-size: 13px;
  }
}
