.random-tip-container {
  margin: auto;
  margin-top: 24vh;
  width: 60%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid #ad2228;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #ad222999;
}
