.visitor-counter {
    position: fixed;
    top: 570px;
    left: 10px;
    background-color: transparent;
    height: 100px;
    width: 100px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 200px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.08);
    z-index: 1000;
  }
  
  .visitor-counter div:first-child {
    margin-bottom: 5px;
  }
  
  .website-counter {
    font-size: 24px;
  }
  
  @media screen and (max-width: 768px) {
    .visitor-counter {
      height: 100px;
      width: 100px;
      font-size: 16px;
    }
  
    .website-counter {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .visitor-counter {
      height: 80px;
      width: 80px;
      font-size: 14px;
    }
  
    .website-counter {
      font-size: 18px;
    }
  }