body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #f06d87;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 2em;
    width: 100%;
}

h2 {
    color: #450105;
}



.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ul {
    text-decoration: black;
}

#event-calendar {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header button {
    background: #2980b9;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-header h3 {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

thead th {
    background: #2980b9;
    color: #fff;
    padding: 0.5em 0;
}

tbody td {
    padding: 1em;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

tbody td:hover {
    background: #f4f4f9;
}

.event {
    background: #f39c12;
    color: #fff;
    border-radius: 50%;
    padding: 0.3em;
}

#event-details {
    margin-top: 2em;
    width: 100%;
}

#event-list {
    list-style: none;
    padding: 0;
}

#event-list li {
    background: #f39c12;
    color: #fff;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 5px;
}
.footer{
position: absolute;
left: 0%;

width: 100%;
background: pink;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}